[Unit]
Description=login service
[Service]
Type=simple
Environment=USERS_API_ADDRESS=http://172.31.25.20:8080
Environment=AUTH_API_PORT=8080
ExecStart=/root/shell-scripting/TODOAPP/login/login
Restart=on-failure
[Install]
WantedBy=multi-user.target

